$primary-color: rgba(79, 80, 77, 0.966);
$second-color: rgba(124, 126, 122, 0.966);
.App-header {
background-color: $primary-color;
}
.css-14wtmij-MuiGrid-root  {
    background-color: $primary-color;
}
.css-1avtbfb-MuiList-root {
    background-color: $second-color !important;
    color: white;
}